<template class="section-template">
  <script src="script/modeling.js"></script>
  <section id="modeling">
    <div class="wrapper style6 spotlights">
      <section>
        <div class="container left-half">
          <canvas id="canvas" width="1000" height="800" selectable="true"></canvas>
        </div>
      </section>
      <section>
        <div class="container right-half">
          <ul class="actions fit stacked">
            <li><a href="#loadModel" id="loadModel" class="button scrolly">Import Model from...</a></li>
            <li><a href="#addAsset" id="addNewAsset" class="button scrolly">New Asset...</a></li>
            <li><a href="#addParticipant" id="addNewParticipant" class="button scrolly">New Participant...</a></li>
            <li><a href="#saveModel" id="saveModel" class="button scrolly">Save Model at...</a></li>
          </ul>
        </div>
      </section>
    </div>
  </section>
</template>
